body {
    margin: 0;
}


.wrapper {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.app {
    width: 650px;
    height: 800px;
    background: #e6e6e6;
    border-radius: 15px;
    padding: 45px 60px;
    display: grid;
    grid-template-rows: 66px 621px;
    gap: 22px;
}


.app__controls {
    display: grid;
    grid-template-columns: auto 160px;
}

.app__controls-input {
    border: none;
    border-radius: 10px 0 0 10px;
    font-size: 16px;
    padding: 10px 15px;
}

.app__controls-button {
    border: none;
    border-radius: 0 10px 10px 0;
    background: #fbcc28;
    font-size: 16px;
}